/* font-family: 'Baloo 2', cursive;
font-family: 'Cormorant Garamond', serif; */

:root {
    --clr-light-900: #1515b6;
    --clr-light-400: rgb(105, 94, 255);
    --clr-light-100: #bbf;    

    --clr-dark-900: rgb(126, 0, 0);
    --clr-dark-400: rgb(255, 115, 115);
    --clr-dark-100: rgb(253, 158, 158);


    --ff-secondary: 'Baloo 2', cursive;
    --ff-primary: 'Cormorant Garamond', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin:0;
}

body {
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.6;
}

h2 {
    font-family: var(--ff-secondary);
    line-height: 1;
    font-weight: 900;
    text-align: center;
}
h1,
h2,
h3,
p,
img {
    margin-bottom: 1em;
}

header,
section {
    padding: 2rem 0;
}
@media (min-width: 40em) {
    header,
    section {
        padding: 5rem 0;
    }
}

img {  
    max-width:100%;
}

.container {
    margin: 0 auto;
    width: min(90%, 60rem);
}
.container--narrow {
    max-width: 20rem;
}

.text-center {
    text-align:center;
}

.bg-light {
    background-color: var(--clr-light-100);
}

.bg-dark {
    background-color: var(--clr-dark-900);
}

.clr-dark {
    color:var(--clr-dark-900);
}

.clr-light {
    color: var(--clr-light-100);
}


.flex {
    display: flex;
    flex-direction: column;
}
@media (min-width: 40em) {
    .flex {
        flex-direction: row;
    }
    .flex > * {
        flex-basis:100%;
    }

    /* every element with a sibling before it
     (skoro mam dwa divy, to ten, co po lewej
      ma taki sam element (div), to dostanie 
      regułę:) */
    .flex > * + * {
        margin-left: 1em;
    }
}

.item-center {
    text-align: center;
}